<p-card header="Register" [style]="{width: '360px', margin: '50px auto'}" styleClass="ui-card-shadow">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <span class="ui-float-label" style="margin-top: 25px">
          <input class="float-input" type="text" size="30" pInputText formControlName="firstName" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
          <label for="firstName">First Name</label>
        </span>
    </div>

    <div class="form-group">
      <span class="ui-float-label" style="margin-top: 25px">
          <input class="float-input" type="text" size="30" pInputText formControlName="lastName" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"/>
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
          <label for="lastName">Last Name</label>
        </span>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
    </div>

    <div class="form-group">
      <span class="ui-float-label" style="margin-top: 25px">
          <input class="float-input" type="text" size="30" pInputText formControlName="password" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          <label for="password">Password</label>
        </span>
    </div>

    <p-footer>
      <div class="form-group" style="margin-top: 25px">
        <button pButton label="Register" icon="pi pi-check" style="margin-right: .45em"></button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
      </div>
    </p-footer>
  </form>
</p-card>
