<button (click)="viewMonth()" *ngIf="key != 'monthComponent'">viewMonth</button>
<button (click)="viewWeek() " *ngIf="key != 'weekComponent'" >viewWeek</button>

<div class="plan-container" [ngSwitch]="key">


  <div *ngSwitchCase="'monthComponent'" [@enterTrigger]="'fadeIn'">
    <p-calendar class="calender" dateFormat="dd.mm.yy" [(ngModel)]="dateValue" [inline]="true" (onSelect)="calenderIsClicked()" [touchUI]="true" [locale]="en"></p-calendar>
  </div>
  <app-day-view *ngSwitchCase="'dayComponent'" [Date]="clickedDate"></app-day-view>
  <app-week-view *ngSwitchCase="'weekComponent'">
  </app-week-view>
</div>


