


<nav class="nav navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
    <span class="nav-item nav-link">{{currentUser.username}}</span>

  </div>
</nav>

<div class="jumbotron" *ngIf="router.url != '/' && router.url != '/plan' && router.url != '/list'&& router.url != '/settings'; else app">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <app-alert></app-alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<ng-template #app>
  <router-outlet></router-outlet>
</ng-template>

<!--<app-alert></app-alert>-->
<!--<router-outlet></router-outlet>-->

<!--<div id="container">-->

  <!--<app-sidebar></app-sidebar>-->



  <!--<div id="content">-->

    <!--<router-outlet name="main"></router-outlet>-->
  <!--</div>-->

<!--</div>-->
