<nav>

  <ul>
    <div>
      <li>
        <a routerLink="plan" [class.activated]="currentUrl == '/plan'">
          <i class="material-icons">calendar_today</i>
        </a>
      </li>

      <li>
        <a routerLink="list" [class.activated]="currentUrl == '/list'">
          <i class="material-icons">view_list</i>
        </a>
      </li>
    </div>
    <li id="settings">
      <a routerLink="settings" [class.activated]="currentUrl == '/settings'">
        <i class="material-icons">settings</i>
      </a>
    </li>
  </ul>

</nav>
