nav {
  position: fixed;
  background: #2D2E2E;
  height: 100%;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;


    #settings{

    }

    li {

      a {
        color: #fff;
        padding: 20px;
        display: block;
      }

      .activated {
        background-color: #00a8ff;
      }
    }
  }

}
