<h3>Enter your personal food preferences</h3>
<!--<form [formGroup]="foodForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  </div>
</form>-->
<div class="wrapperclass">
  <hr>
  <h4 class="first">Persons: {{val1}}</h4>
  <p-slider [(ngModel)]="val1" [style]="{'width':'14em'}" [min]="1" [max]="10"></p-slider>
<br>
  <hr>

  <h4>Choose on which Days you are cooking at Home</h4>
  <div class="ui-g" style="width:250px;margin-bottom:10px;flex-wrap: nowrap">
    <div class="ui-g-12">
      <p-checkbox name="days" value="Montag" label="Mo" [(ngModel)]="selectedDays" inputId="montag"></p-checkbox>
    </div>
    <div class="ui-g-12">
      <p-checkbox name="days" value="Dienstag" label="Di" [(ngModel)]="selectedDays" inputId="dienstag"></p-checkbox>
    </div>
    <div class="ui-g-12">
      <p-checkbox name="days" value="Mittwoch" label="Mi" [(ngModel)]="selectedDays" inputId="mittwoch"></p-checkbox>
    </div>
    <div class="ui-g-12">
      <p-checkbox name="days" value="Donnerstag" label="Do" [(ngModel)]="selectedDays"
                  inputId="donnerstag"></p-checkbox>
    </div>
    <div class="ui-g-12">
      <p-checkbox name="days" value="Freitag" label="Fr" [(ngModel)]="selectedDays" inputId="freitag"></p-checkbox>
    </div>
    <div class="ui-g-12">
      <p-checkbox name="days" value="Samstag" label="Sa" [(ngModel)]="selectedDays" inputId="samstag"></p-checkbox>
    </div>
    <div class="ui-g-12">
      <p-checkbox name="days" value="Sonntag" label="So" [(ngModel)]="selectedDays" inputId="sonntag"></p-checkbox>
    </div>
  </div>

  <hr>

  <h3>Meals</h3>
  <p-selectButton [options]="meals" [(ngModel)]="selectedMeals" multiple="multiple"></p-selectButton>
  <p>Selected Types: <span style="font-weight: bold" *ngFor="let type of selectedMeals">{{type}} </span></p>

  <hr>

  <h3>Diets</h3>
  <p-selectButton [options]="diets" [(ngModel)]="selectedDiets" multiple="multiple"></p-selectButton>
  <p>Selected Types: <span style="font-weight: bold" *ngFor="let type of selectedDiets">{{type}} </span></p>

  <hr>

  <h3>Allergies</h3>
  <p-selectButton [options]="allergie" [(ngModel)]="selectedAllergie" multiple="multiple"></p-selectButton>
  <p>Selected Types: <span style="font-weight: bold" *ngFor="let type of selectedAllergie">{{type}} </span></p>

  <hr>

  <h3>No-Go´s</h3>
  <p-selectButton [options]="nogo" [(ngModel)]="selectedNogo" multiple="multiple"></p-selectButton>
  <p>Selected Types: <span style="font-weight: bold" *ngFor="let type of selectedNogo">{{type}} </span></p>

</div>

