<p>
<h1>Enter your personal food preferences</h1>
<!--<form [formGroup]="foodForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  </div>
</form>-->

<div class="ui-g">
  <div class="ui-g-12 ui-md-6">
    <div class="ui-g-4">
      InputText
    </div>
    <div class="ui-g-8">
      <input pInputText type="text"/>
    </div>
  </div>
  <div class="ui-g-12 ui-md-6">
    <h3 class="first">Single</h3>
    <p-selectButton [options]="types" [(ngModel)]="selectedType"></p-selectButton>

    <p>Selected Type: <span style="font-weight: bold">{{selectedType}}</span></p>

    <h3>Multiple</h3>
    <p-selectButton [options]="types" [(ngModel)]="selectedTypes" multiple="multiple"></p-selectButton>
    <p>Selected Types: <span style="font-weight: bold" *ngFor="let type of selectedTypes">{{type}} </span></p>

    <h3>Icon Only</h3>
    <p-selectButton [options]="modes" [(ngModel)]="selectedModes" multiple="multiple"></p-selectButton>
    <p>Selected Modes: <span style="font-weight: bold" *ngFor="let mode of selectedModes">{{mode}} </span></p>

    <h3>Custom Template</h3>
    <p-selectButton [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name">
      <ng-template let-item>
        <div style="padding: .5em 1em">
          <img style="vertical-align: middle; margin-right: .5em"
               src="assets/showcase/images/demo/flag/{{item.value.flag}}" height="20px"/>
          <span>{{item.name}}</span>
        </div>
      </ng-template>
    </p-selectButton>
    <p>Selected Country: <span style="font-weight: bold">{{selectedCountry?.name}}</span></p>

    <hr>
    <button type="button" (click)="clear()" pButton icon="pi pi-times" label="Clear"></button>
  </div>

</div>
