/* You can add global styles to this file, and also import other style files */
/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.plan-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
}

html, body {
  min-height: 100%;
  background-color: #dedede;
}


a {
  cursor: pointer
}


//Card


//Button
body .ui-button {
  margin: 0;
  color: #ffffff;
  background-color: #067B7D;
  border: #067B7D;
  font-size: 14px;
  transition: background-color 0.2s, box-shadow 0.2s;
}
body .ui-button:hover {
  margin: 0;
  color: #ffffff;
  background-color: #067B7D;
  border: #067B7D;
  font-size: 14px;
  transition: background-color 0.2s, box-shadow 0.2s;
}
body .ui-button:enabled:hover {
  background-color: #067B7D;
  color: #ffffff;
  border-color: #067B7D;
}

//Link
body a {
  color: #dedede;
  text-decoration: none;
}
body a:hover {
  color: #067B7D;
  text-decoration: none;
}


